<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" debug="false">

	<include resource="logging/logback/base.xml"/>
	
	<!--###########################logger###########################-->

	<logger name="io.netty" level="INFO"/>
	<logger name="tech.iooo.boot" level="INFO"/>
	<logger name="tech.iooo.coco" level="DEBUG"/>

	<!--###########################/logger##########################-->

	<root level="INFO">
		<!--CONSOLE-->
		<appender-ref ref="STDOUT"/>
		<!--ROLLING FILE-->
		<appender-ref ref="ASYNC"/>
	</root>

</configuration>
